@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --ship-color: #34a3c2;
  --bad-color: #e62c63;
  --good-color: #63c291;
  --gray: #2a2b2b;
}


html, body,p,h3{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  font-family: 'Black Ops One',Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  padding: 40px 0;
  font-size: 80px;
}

#grids{
  display: flex;
  justify-content: center;
  gap:100px;
}

#human,#ai{
  display: grid;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
}

.grid-ele{
  border: 1px solid black;
}

#ai .grid-ele:hover{
  background-color: var(--gray);
}

.grid-ele.miss{
  background-color: var(--bad-color);
}

.grid-ele.ship.hit{
  background-color: var(--good-color);
}

.grid-ele.hit{
  background-color: var(--good-color);
}

.grid-ele.ship{
  background-color: var(--ship-color);
}

.flex-grow{
  flex-grow: 1;
}

footer{
  padding: 15px 0;
}

a{
  text-decoration: none;
  color: inherit;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: block;
}

#input-ship{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}

#input-ship.active{
  transform: translate(-50%, -50%) scale(1);
}

#input-ship h3{
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 18px;

}

#input-grid{
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  width: 300px;
  height: 300px;
}

button{
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: var(--gray);
  color: #ffffff;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  transition: transform 80ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#rotate:hover{
  transform: scale(1.05);
}
